
:root {
    --mainFont: 'Roboto', sans-serif;
    --secondaryFont: 'Roboto Condensed', sans-serif;
    --white: #fffff3; 
    --black-1: #202020; 
    --primary: #1b90fc; 
    --grey: #929292; 
    --headline1: 700 2.5rem/normal Roboto Condensed; 
    --subtitle1: 700 1.625rem/1.5rem Roboto Condensed; 
    --button: 700 0.875rem/1rem Roboto; 
    --headline2: 700 1.5rem/normal Roboto Condensed; 
    --body1-regular: 400 1rem/1.5rem Roboto; 
    --body1-bold: 700 1rem/1.5rem Roboto; 
    --body2-bold: 700 0.875rem/1.5rem Roboto; 
    --body2-regular: 400 0.875rem/1.5rem Roboto; 
    --caption-regular: 400 0.75rem/1.5rem Roboto; 
    --caption-bold: 700 0.75rem/1.5rem Roboto; 
}

body {
    block-size: 100vh;
    margin: 0;
}

h1, p {
    margin: 0;
    color: var(--white);
}

.hero {
    background-color: var(--black-1);
    background-image: url('../images/loki.jpg');
    background-repeat: no-repeat;
    background-position: center;
    block-size: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 128px), 0 100%);
}

.hero::before {
    content: '';
    inline-size: 50%;
    block-size: 100%;
    display: block;
    background: var(--black-1);
    position: absolute;
    inset-block: 0;
    z-index: 1;
    clip-path: polygon(0 0, calc(100% - 151px) 0, 100% 100%, 0 100%);
}

.wrapper {
    max-inline-size: 1664px;
    max-block-size: 100%;
    margin: auto;
}

.hero-content {
    block-size: 768px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    max-inline-size: 412px;
    margin-inline-start: 128px;
    position: relative;
    z-index: 2;
}

.hero img:nth-child(1) {
    margin-block-end: 24px;
}

.hero h1 {
    font-family: var(--secondaryFont);
    font-size: 40px;
    margin-block-end: 24px;
}

.hero p {
    font-family: var(--secondaryFont);
    font-size: 16px;
    line-height: 24px;
    margin-block-start: 8px;
}

button {
    background: var(--primary);
    border: none;
    border-radius: 32px;
    padding-block: 16px;
    padding-inline: 32px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--secondaryFont);
    font-size: 14px;
    font-weight: 600;
    margin-block: 24px;
    cursor: pointer;
    line-height: 16px;
}

img {
    max-inline-size: 100%;
}


@media screen and (max-width: 1440px) {

    body {
        block-size: 100vh;
    }

    .card {
        max-inline-size: 412px;
        margin-inline-start: 83px;
    }
}


@media screen and (max-width: 1366px) {
    .hero::before {
        clip-path: polygon(0 0, calc(100% - 106px) 0, 100% 100%, 0 100%);
    }
}


@media screen and (max-width: 864px) {

    body {
        block-size: 100vh;
    }

    .hero {
        display: fle;
        flex-direction: row;
        clip-path: none;
        background-image: none;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 100%);
    }

    .hero::before {
        content: none;
    }

    .wrapper {
        block-size: 100%;
        margin: 0;
    }

    .hero-content {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
    }

    .hero-content::before {
        content: '';
        background-size: contain;
        background-color: var(--black-1);
        background-image: url('../images/loki.jpg');
        background-repeat: no-repeat;
        inline-size: 100%;
        block-size: 60%;
        display: block;
        position: absolute;
        inset-block: 0;
    }

    .card {
        max-inline-size: 100%;
        margin-inline: 8vh;
        margin-block-end: 8vh;
    }
    
}

@media screen and (max-width: 360px) {

    .hero {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 100%);
    }

    .hero h1 {
        font-family: var(--secondaryFont);
        font-size: 24px;
        margin-block-end: 24px;
    }
    
    .hero p {
        font-family: var(--secondaryFont);
        font-size: 14px;
        line-height: 24px;
    }
}